
:root {
    --main-height: 60px;

}
.flex-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: black;
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    justify-content: space-evenly;
    height: 400px;
    margin: 0 100px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.box {
    height: var(--main-height);
    width: 60px;
    background-color: green;
    border-radius: 10px;
    margin: 5px;
    color: white;
    text-align: center;
    line-height: var(--main-height);
}
