.flex-container {
    display: flex;
    color: black;
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    justify-content: center;
    height: 400px;
    margin: 0 100px;
    border: 2px solid black;
}

.box {
    height: 60px;
    width: 60px;
    background-color: green;
    margin: 5px;
    color: white;
    text-align: center;
    line-height: 60px;
}
